<%- include('parts/header') %>
    <%- include('parts/navbar') %>
    <% if (typeof cartAdded !=='undefined' ) { %>
        <div class="container" style="padding-top: 20px;">
            <div class="alert alert-danger">
                <h1>
                    <%= cartAdded %>
                </h1>
    
            </div>
        </div>
    <% } %>
        <div class="products" style="margin-top: 40px;">
            <div class="container">
                <form action="/" method="GET">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <select class="form-control" id="filterSelect" name="category">
                            <option value="All">All</option>
                              <option value="clothes">Clothes</option>
                              <option value="phones">Phones</option>
                              <option value="furniture">Furniture</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Filter" class="btn btn-primary">
                    </div>
                </div>
            </form>
                <div class="row">
                    <% for (let product of products) { %>
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="product/<%= product.image %>" alt="Card image cap">
                                <div class="card-body">
                                    
                                    <a href="products/<%= product.id %>"><h3>
                                        <%= product.name %>
                                    </h3></a>
                                    <h5>
                                        <%= product.category %>
                                    </h5>
                                    <p class="card-text">
                                        <%= product.description %>
                                    </p>
                                    <span class="btn btn-success"><%= product.price %></span>
                                    <form action="/cart" method="POST" style="margin-top: 5px;">
                                        <input type="number" name="amount">
                                        <input type="hidden" name="name" value="<%= product.name %>">
                                        <input type="hidden" name="price" value="<%= product.price %>">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <input type="hidden" name="userId" value="<%= isUser %>">
                                        <input type="submit" value="Add to cart" class="btn btn-primary" style="margin-top: 5px;">
                                    </form>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
<%- include('parts/footer') %>